<!DOCTYPE html>
<html>
    <head>
        <title>sadboi</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <nav class="navbar navbar-light bg-light sticky-top">
      <div class="container">
        <!--<a class="navbar-brand" id="loaded" href="#">0 items loaded</a>-->
        <a class="navbar-brand" href="#">sadboi</a>
      </div>
    </nav>

    <body>
        <video id="video" autoplay></video>
        <br/>
        <!-- <button id="capture">Capture image</button> -->
        <h1 id="message"></h1>

        <script type="text/javascript">
            window.addEventListener("DOMContentLoaded", function() {
                // Stream from the camera to the video player
                var video = document.getElementById('video');

                if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                    const getImage = async () => {
                        video.srcObject = await navigator.mediaDevices.getUserMedia({ video: true })
                        video.play();
                    }
                    getImage()
                }

                var message = document.getElementById('message');

                const refresh = async () => {
                    // Draw the image on a canvas so it can be captured as base64 encoded binary data
                    var canvas = document.createElement('canvas');
                    canvas.width = 640;
                    canvas.height = 480;

                    var context = canvas.getContext('2d');
                    context.drawImage(video, 0, 0, canvas.width, canvas.height);

                    var data = {
                        'image_base64': canvas.toDataURL("image/png")
                    }

                    // Make the POST request and get back the result
                    const getResult = async () => {
                        var result = await fetch('process_image', {
                            method: 'POST',
                            body: JSON.stringify(data),
                            headers: { 'Content-Type': 'application/json' }
                        })

                        var jsonResult = await result.json()
                        message.textContent = jsonResult.message
                    }
                    getResult()

                    setTimeout(refresh, 5000);
                }

                refresh();
            })
        </script>

        <!-- JS stuff -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>